# Python
__pycache__/
*.py[cod]
*.pyo
venv/

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log

# Secrets
.env

# Generated
backend/exports/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal