Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Security-Too==5.5.2
Flask-CORS==5.0.1
SQLAlchemy==2.0.36
email-validator==2.2.0
bcrypt==4.2.1
argon2-cffi>=23.1.0
setuptools<81
celery[redis]==5.4.0
redis==5.2.1
Flask-Caching==2.3.0
Flask-Mail==0.10.0
python-dotenv
gunicorn==23.0.0
psycopg2-binary==2.9.10
